*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(228, 70, 123);
    color: white;
    background-image: url(images/bg-intro-desktop.png);
}

h1{
    font-size:3.2em;
    font-weight:600;
}
p{
    font-size: 1.2em;
    font-weight: 500;
    color:rgb(206, 195, 195);
}
.container{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

.container-left{
 margin: auto;
 align-content: center;
 justify-content: center;
 width:50%;   
}
.container-right{
  text-align: center;
  justify-content: center;  
  width: 50%;
}
.first{
    background-color: blue;
    width:90%;
    margin: 0 auto;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor:pointer;
    font-weight: 500;
    font-size: 1em;
    border: none;
    color:rgb(215, 215, 233);
    transition: all ease-in-out 300ms;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,.4);
}
.text{
    font-weight: 600;
    color: white;
}
.first:hover{
    box-shadow: 0px 27px 20px -20px rgba(0,0,0,.4);
    color: blue;
    background: rgb(104, 101, 101);
}
form{
    background-color: white;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,.4);
}

input[type=text],
input[type=email],
input[type=password],
.second{
    background-color: transparent;
    color: black;
    font-weight: 600;
    border: 1px solid rgba(180, 151, 151, 0.4);
    width:90%;
    height:45px;
    padding-left: 10px;
    border-bottom: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
.second:focus{
    border-color:rgba(0, 0, 0, 0.5);
}
.second{
cursor: pointer;
font-weight: 500;
background-color:hsl(154, 59%, 51%);
border:none;
box-shadow:10px 10px 10px #fff;
margin-bottom:0;
text-transform: uppercase;
color:#fff;
}

::placeholder{
    color:black;
    font-weight: 600;
    font-size: 16px;
}
.click{
    color:hsl(246, 25%, 77%);
    font-weight:500;
}
a{
    text-decoration: none;
}
.terms{
    color:hsl(0, 100%, 74%);
    font-weight:400;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (max-width:700px){
    .container-left{
        width:90%;
        text-align:center;
    }
    h1{
      font-size:2.5em;   
  }
    .container-right{
        width:100%;
    }
}

